<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Exams</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<div th:replace='Includes/header.html :: header'/>

<div sec:authorize="hasAuthority('TEACHER')">
    <div class="container-fluid">
        <div class="row">
            <div th:replace='Includes/teacher_menu.html :: teachermenu'/>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3 class="text-center">
                    Assign Exams to Students
                </h3>

                <form role="form">

                    <div class="form-group">
                        <label for="select-exam">
                            Select Student
                        </label>
                        <select class="form-control" id="select-student">
                            <option disabled selected value="">Choose your option</option>
                            <option th:each="student : ${users}" th:value="${student.getId()}"
                                    th:text="${student.getName()}">
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="select-exam">
                            Select Exam
                        </label>
                        <select class="form-control" id="select-exam">
                            <option disabled selected value="">Choose your option</option>
                            <option th:each="exam : ${exams}" th:value="${exam.getId()}"
                                    th:text="${exam.getExamname()}">
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="is-yes" style="margin-top: 10px;">
                                    Is Active
                                </label>
                            </div>
                            <div class="col-md-1">
                                <div class="radio">
                                    <label><input type="radio" name="status" id="is-yes" value="true" checked>Yes</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="radio">
                                    <label><input type="radio" name="status" id="is-no" , value="false">No</label>
                                </div>
                            </div>
                            <div class="col-md-8"></div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button id="setup-exam" class="btn btn-primary pull-right">Save</button>
                    </div>

                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>

<script th:src="@{plugins/jQuery/jQuery-2.2.0.min.js}"></script>

</body>
</html>

<script>
    function get_status() {

        var radios = document.getElementsByName('status');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                return radios[i].value;
            }
        }
    }

    $('#setup-exam').on('click', function () {
        var studentid = $('#select-student').val();
        var examid = $('#select-exam').val();
        var status = get_status();

        if (studentid=== null || examid === null){
            alert("Please select exam & student !");
            return;
        }

        var AssignDetails = {
            'studentId' : studentid,
            'examId': examid,
            'status' : status
        };

        $.ajax({
            async: false,
            method: "POST",
            url: '/assign_exams_to_students',
            data: JSON.stringify(AssignDetails),
            dataType: 'json',
            contentType: 'application/json',
            cache: false,
            success: function (ret) {
                if (ret.status === 'SUCCESS') {
                    alert(ret.message);
                } else {
                    alert(ret.message);
                }
            },
            error: function (xhr, status, err) {
                alert("Server cannot be reached!");
            }
        });
    });

</script>