<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Exam</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<div th:replace='Includes/header.html :: header'/>

<div sec:authorize="hasAuthority('TEACHER')">
    <div class="container-fluid">
        <div class="row">
            <div th:replace='Includes/teacher_menu.html :: teachermenu'/>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3 class="text-center">
                    Create New Exam
                </h3>
                <form role="form">
                    <div class="form-group">
                        <label for="txt-exam-name">
                            Exam Name
                        </label>
                        <input type="text" class="form-control" id="txt-exam-name"/>
                    </div>

                    <div class="form-group">
                        <label for="txt-time">
                            Time Duration in Minutes
                        </label>
                        <input type="text" class="form-control" id="txt-time"/>
                    </div>

                    <div class="form-group">
                        <label for="txt-available">
                            Available on
                        </label>
                        <input type="date" class="form-control" id="txt-available"/>
                    </div>

                    <div class="form-group">
                        <label for="txt-due">
                            Due On
                        </label>
                        <input type="date" class="form-control" id="txt-due"/>
                    </div>

                    <div class="box-footer">
                        <button id="create-exam" class="btn btn-primary">Save</button>
                    </div>

                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>

<script th:src="@{plugins/jQuery/jQuery-2.2.0.min.js}"></script>

</body>
</html>

<script>
    function comparedates(availabledate, duedate) {
        if (availabledate > duedate) {
            return false;
        } else {
            return true;
        }
    }

    $('#create-exam').on('click', function () {
        var exam_name = $('#txt-exam-name').val();
        var duration = $('#txt-time').val();
        var availabledate = $('#txt-available').val();
        var duedate = $('#txt-due').val();
        var teacherId = $('#txt-user-id').val();

        var checkdates = comparedates(new Date(availabledate), new Date(duedate));


        if (!checkdates) {
            alert("Due date should be greater than available date !");
            return;
        }

        var examDetails = {
            'examname': exam_name,
            'duration': duration,
            'availableOn': availabledate,
            'dueOn': duedate,
            'teacherId': teacherId
        };

        $.ajax({
            async: false,
            method: "POST",
            url: '/create_exam',
            data: JSON.stringify(examDetails),
            dataType: 'json',
            contentType: 'application/json',
            cache: false,
            success: function (ret) {
                if (ret.status === 'SUCCESS') {
                    alert(ret.message);
                } else {
                    alert(ret.message);
                }
            },
            error: function (xhr, status, err) {
                alert("Server cannot be reached!");
            }
        });
    });

</script>