<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<div th:replace='Includes/header.html :: header'/>

<div sec:authorize="hasAuthority('STUDENT')">
    <div class="container-fluid">

        <div class="row">
            <div th:replace="Includes/student_menu.html :: studentmenu"/>
        </div>
    </div>
</div>
<div sec:authorize="hasAuthority('TEACHER')">
    <div class="container-fluid">

        <div class="row">
            <div th:replace="Includes/teacher_menu.html :: teachermenu"/>
        </div>
    </div>
</div>


</body>
</html>