<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<div th:replace='Includes/header.html :: header'/>

<div sec:authorize="hasAuthority('STUDENT')">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li class="active"><a th:href="@{/changepassword}">
                            <i class="fa fa-dashboard"></i>
                            <span>Change Password</span>
                        </a></li>
                        <li class="active"><a th:href="@{/viewexams}">
                            <i class="fa fa-dashboard"></i>
                            <span>Access Exam</span>
                        </a></li>
                        <li class="active"><a th:href="@{/viewmyresult}">
                            <i class="fa fa-dashboard"></i>
                            <span>View Results</span>
                        </a></li>
                    </ol>
                </section>
            </div>
        </div>
    </div>
</div>
<div sec:authorize="hasAuthority('TEACHER')">
    <div class="container-fluid">

        <div class="row">
            <div th:replace='Includes/teachermenu.html :: teachermenu'/>
        </div>
    </div>
</div>


</body>
</html>