<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="header" sec:authorize="isAuthenticated()">
    <input type="hidden" id="txt-user-id" th:value="${session.USER_ID}" th:unless="${session == null}"></input>
    <div class="row">
        <div class="col-md-10">
            <h3 class="text-center text-muted">
                Welcome to the Dashboard [[${#httpServletRequest.remoteUser}]]!
            </h3>
        </div>

        <div class="col-md-2">
            <h3>
                <form role="form" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-md btn-link">
                        Sign Out
                    </button>
                </form>
            </h3>
        </div>
    </div>
</div>