<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="teachermenu" class="col-md-12">
    <section class="content-header">
        <ol class="breadcrumb">
            <li class="active"><a th:href="@{/my_profile}">
                <i class="fa fa-dashboard"></i>
                <span>My Profile</span>
            </a></li>
            <li class="active"><a th:href="@{/create_user}">
                <i class="fa fa-dashboard"></i>
                <span>Create User</span>
            </a></li>
            <li><a th:href="@{/create_exam}">
                <i class="fa fa-dashboard"></i>
                <span>Create Exam</span>
            </a></li>
            <li><a th:href="@{/assign_quizz}">
                <i class="fa fa-dashboard"></i>
                <span>Create Quiz</span>
            </a></li>
            <li><a th:href="@{/assign_exams_to_students}">
                <i class="fa fa-dashboard"></i>
                <span>Assign Exams</span>
            </a></li>
            <li class="active"><a th:href="@{/view_exams}">
                <i class="fa fa-dashboard"></i>
                <span>Access Exam</span>
            </a></li>
        </ol>
    </section>
</div>